body{
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
.form{
    width: 50%;
    padding: 75px 0px 75px 75px;
}

.tittleform{
    font-size: 30px;
    margin: 0px;
}
.subtittleform{
    font-size: 27px;
    color: rgb(14, 11, 11);
    margin: 0px 0px 20px 0px;
}
.form form{
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
.input_box{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}


input,textarea{
    position: relative;
    border: 0px solid gray ;
    border-bottom: 1px solid gray;
    width: 100%;
    outline: none;
    z-index:2;
    background: none;
}
textarea{
    resize: none;
    
}
input:focus~label,textarea:focus~label,input:valid~label,textarea:valid~label,.valid~label{
    transform: translateY(-10px)


    
}
label{
    position: absolute;
    top: -10px;
    left: 0px;
    z-index:1;
    transition: .3s;
    font-size: 20px;
    
}
.color_input{
    font-size: 20px;
    background-color: rgb(108, 189, 78);
    width: 100%;
    display: block;
    height: 50px;

}
.w30{
    width: 30%;
}

.w70{
    width: 65%;
}

    


